<!-- begin about -->
<section class="section about" id="about">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>
            </div>
            <div class="section__description">{{ include.description_html }}</div>
          </div>

          <!-- Here was the problem: Incorrect iteration and access of tech stack data -->
          {% for category_entry in site.data.tech_stack %}
            {% assign category_key = category_entry[0] %}
            {% assign category = category_entry[1] %}
            <div class="about__category">
              <h3 class="about__category-title">{{ category.title }}</h3>
              
              <div class="row">
                {% for tech in category.technologies %}
                  {% bookshop tech-card tech=tech %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->
